body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;;
}

.container {
  background-color: black;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

div,
p {
  font-family: Arial;
  color: white;
  cursor: default;
}

.lyrics-view,
.queue-view,
.album-view {
  display: none;
}